@import "modules/_buttons.scss";

@mixin placeholder {
	::-webkit-input-placeholder { @content; }
	:-moz-placeholder		    { @content; }
	::-moz-placeholder		    { @content; }
	:-ms-input-placeholder	    { @content; }
}

@include placeholder {
	color: blue;
	font-size: 14px;
}

.input {
	@include placeholder {
		color: green;
	}
}

body {
	background-color: blue;
	color: red;
}